# top-most EditorConfig file
root = true

# Java files
[*.java]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = 120

# Maven files
[pom.xml]
indent_style = space
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 2

# SQL files
[*.sql]
indent_style = space
indent_size = 2